  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        		<h1> There is an estimated 12 billion light bulbs on the planet. </h1>
        	</div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Of this 12 billion the United States respresents one third of the worlds market</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">In 2010 Incandescent lighting accounted for 45% of lightbulbs in use. While LED bulbs accounted for less than 2%.</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title"></div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">Foreground Layer</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">Base Layer</div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        	<div class="pollution">
        		All this energy adds up and is something we all have to "pay" for.
        	</div>
        </div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <h1>
            <%= render 'layouts/form' %>
          </h1>
        </div>
      </div>
    </div>
  </div>
