  <div class="jumbotron">
  <div class="parallax">
    <div id="group1" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
        	<h1> There are an estimated 12 billion light bulbs on the planet. </h1>
        </div>
      </div>
    </div>
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title">
          <h1>Of this 12 billion the United States represents one third of the world's market </h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title"></div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
              <h1 id="lightbulb">In 2010 Incandescent lighting accounted for 45% of lightbulbs in use. While LED bulbs accounted for less than 2%.</h1>
        </div>
      </div>
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--deep">
        <div class="title"></div>
      </div>
    </div>
    <div id="group5" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <h1>Incandescent light bulbs operate at an efficiency level of less than 3%. With most energy being converted to heat. While Compact Fluorescent bulbs operate around 80% efficiency and LED bulbs push up to 90% energy efficiency.
          </h1>
        </div>
      </div>
    </div>
    <div id="group6" class="parallax__group">
      <div class="parallax__layer parallax__layer--back">
        <div class="title"></div>
      </div>
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
            <h1> The energy efficiency lost by the use of incandscent bulbs adds up over time. For the consumer and for the planet.
            </h1>
        </div>
      </div>
    </div>
    <div id="group7" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="title">
          <h1>
            <%= render 'layouts/form' %>
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
