<h1>Energy Savings Calculator</h1>
      <div class="row">
        <div class="col-md-6">
          <h3>Calculate how much money/energy you could save by switching to LED lighting today</h3>
          <div class="col-md-6">
            <form id="pizza-form">
              <div class="form-group">
                <label for="customer">Your Name</label>
                <input type="text" class="form-control" id="customer" required>
              </div><br>
              <div class="form-group">
                <label for="bulb-count">Number of Bulbs you are willing to change</label>
                <input type="integer" class="form-control" id="bulb-count" required>
              </div><br>
              <div class="form-group">
                <label for="bulb-type-prior">Current Bulb?</label>
                <select id="topping">
                  <option value="Pepperoni">Pepperoni</option>
                  <option value="Cheese">Cheese</option>
                </select>
              </div><br>
              <div class="form-group">
                <button type="submit" class="btn btn-\success">Submit your order</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div id="pizza">
      <ul id="customer"></ul>
      <ul id="toppings"></ul>
      <ul id="pizza-output"></ul>
    </div>
   </div>
