<h1>Energy Savings Calculator</h1>
      <div class="row">
        <div class="col-md-12">
          <h2>Calculate how much money and energy you could potentially save by switching to LED lighting today</h2>
          <div class="col-md-14">
            <form id="lightbulb-form">
              <div class="input-field">
                <div class="col-md-6">
                <input type="integer" id="bulb-count" required>
                <label for="bulb-count">Number of Bulbs you are willing to change in your household</label>
              </div>
              </div><br>
              <div class="input-field">
                <div class="col-md-6 input-field">
                <input type="integer" id="hours" required>
                <label for="hours">Average number of hours used per day</label>
              </div>
              </div><br>
              <div class="input-field">
                <select id="current-type">
                  <option value="Incandescent">Incandescent</option>
                  <option value="CFL">Compact Fluorescent</option>
                </select>
                <label for="bulb-type-prior">Current Bulb Type?</label>
              </div>
              <div class="input-field">
                <select id="new-type">
                  <option value="LED">LED</option>
                  <option value="CFL">Compact Fluorescent</option>
                </select>
                <label for="bulb-type-after">New Bulb Type?</label>
              </div><br>
              <div class="input-field">
                <button type="submit" class="btn">Calculate Your Savings</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    <div id="output">
      <ul id="lightbulb-output"></ul>
      <ul id="lightbulb-year"></ul>
      <ul id="lightbulb-savings"></ul>
    </div>
   </div>
